.nowplaying-wrapper {
    margin-bottom: 10px;
}
.nowplaying-wrapper .play-btn {
    padding-right: 30px;
}
.nowplaying-wrapper .current-track,
.playlist-wrapper .title {
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist-wrapper .time {
    padding-left: 10px;
}
