.current{
	float: right;
    padding-left: 40px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 20px;
}

.playList > tr > td {
	max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist > tr > .time {
 	padding-left: 20px;
}