#mpd-container .float-left {
    float: left;
}

#mpd-container .float-right {
    float: right;
}

#mpd-container .current {
    padding-left: 20px;
    padding-bottom: 10px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mpd-container .playList tr td {
	max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mpd-container .playList tr td.time {
 	padding-left: 20px;
}

#mpd-container .clearfix {
    clear: both;
}